[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/epezent/implot.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "vendor/doctest"]
	path = vendor/doctest
	url = https://github.com/doctest/doctest.git
	shallow = true
[submodule "vendor/nfd"]
	path = vendor/nfd
	url = https://github.com/btzy/nativefiledialog-extended.git
	shallow = true
